@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Playfair:wght@500&family=Poppins&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto+Condensed:wght@700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Raleway:wght@400;500&display=swap");
/* Variables */
/* Général */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

p,
a,
label,
input {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.button {
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 500;
}
.button--navy {
  background-color: #18195e;
  color: #ffffff;
}
.button--navy:hover {
  background-color: #222487;
  transition: all 0.2s;
}
.button--white {
  background-color: #ffffff;
  color: #18195e;
}
.button--white:hover {
  background-color: #18195e;
  color: #ffffff;
  transition: all 0.2s;
}

/* Header */
.navbar {
  background-color: #14aeb1;
  padding: 2rem 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar__logo {
  width: 250px;
}
.navbar__list-item {
  display: inline-block;
  margin-left: 2rem;
}
.navbar__list-item a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  transition: all 0.2s;
}
.navbar__list-item a:hover {
  color: #18195e;
  transition: all 0.2s;
}

/* Rangée Carrousel */
.row-carousel {
  background-color: #ffffff;
  background-image: url(../images/fond-arches.png);
}
.row-carousel h1 {
  display: none;
}
.row-carousel__image {
  width: 70%;
  margin: 0 auto;
}
.row-carousel__image img {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

/* Rangée Infolettre */
.row-newsletter {
  background-color: #a1d18a;
}
.row-newsletter .container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.row-newsletter__text {
  font-size: 1.6rem;
  padding: 0 18rem;
  margin-bottom: 2rem;
}
.row-newsletter__fields {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 50%;
  margin: 0 auto;
}
.row-newsletter__field-wrapper {
  flex-basis: 70%;
}
.row-newsletter__field-wrapper label {
  display: none;
}
.row-newsletter__field-wrapper #courriel {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #18195e;
}
.row-newsletter__field-wrapper #courriel:focus {
  border: 2px solid #14aeb1;
}
.row-newsletter__submit {
  flex-basis: 30%;
}

/* Rangée CTA */
.row-cta__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.row-cta__text {
  font-size: 2rem;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.row-mission {
  background-color: #14aeb1;
  color: #ffffff;
}
.row-mission h2 {
  font-size: 3rem;
  text-align: center;
}
.row-mission__text {
  padding: 0 18rem;
  text-align: center;
  margin-bottom: 4rem;
}
.row-mission__wrapper {
  display: flex;
  gap: 2rem;
}
.row-mission__item {
  padding: 2rem;
  border: 2px solid #ffffff;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.row-mission__image {
  width: 80px;
  margin: 0 auto 1rem auto;
}

/* Rangée Grille photos */
.row-gallery .container {
  display: grid;
  grid-gap: 1rem;
}

#img-1 {
  grid-column: 1/span 3;
  grid-row: 5/span 6;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

#img-2 {
  grid-column: 4/span 6;
  grid-row: 1/span 7;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

#img-3 {
  grid-column: 4/span 2;
  grid-row: 8/span 4;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

#img-4 {
  grid-column: 10/span 2;
  grid-row: 4/span 4;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

#img-5 {
  grid-column: 6/span 6;
  grid-row: 8/span 7;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

#img-6 {
  grid-column: 12/span 2;
  grid-row: 6/span 6;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

/* Rangée Statistiques */
.row-statistics {
  background-color: #a1d18a;
}
.row-statistics h2 {
  margin-bottom: 0;
  color: #18195e;
}
.row-statistics .container {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.row-statistics__image {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.row-statistics__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.row-statistics__results {
  display: flex;
  gap: 2rem;
}
.row-statistics__number {
  font-size: 3rem;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #18195e;
}
.row-statistics__caption {
  font-size: 0.85rem;
}

.row-cards h2 {
  text-align: center;
}
.row-cards h3 {
  margin-bottom: 0;
  color: #ffffff;
}
.row-cards__intro-text {
  padding: 0 18rem;
  text-align: center;
  margin-bottom: 4rem;
}
.row-cards__wrapper {
  display: flex;
  gap: 2rem;
}
.row-cards__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #14aeb1;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.row-cards__image {
  border: 3px solid #ffffff;
}
.row-cards__animal-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.3333333333rem;
}/*# sourceMappingURL=style.css.map */