@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@500&family=Poppins&display=swap");
/* Variables */
/* Général */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

p,
a,
label,
input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-family: "Playfair", serif;
  margin-top: 0;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  font-family: "Playfair", serif;
  margin-top: 0;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-family: "Playfair", serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.button {
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
}
.button--navy {
  background-color: #18195e;
  color: #ffffff;
}
.button--navy:hover {
  background-color: #222487;
  transition: all 0.2s;
}

/* Header */
.navbar {
  background-color: #14aeb1;
  padding: 2rem 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar__logo {
  width: 250px;
}
.navbar__list-item {
  display: inline-block;
  margin-left: 2rem;
}
.navbar__list-item a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  color: #ffffff;
  transition: all 0.2s;
}
.navbar__list-item a:hover {
  color: #18195e;
  transition: all 0.2s;
}

/* Rangée Carrousel */
.row-carousel {
  background-color: #ffffff;
  background-image: url(../images/fond-arches.png);
}
.row-carousel h1 {
  display: none;
}
.row-carousel__image {
  width: 70%;
  margin: 0 auto;
}
.row-carousel__image img {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
}

.row-newsletter {
  background-color: #a1d18a;
}
.row-newsletter .container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.row-newsletter__text {
  font-size: 1.6rem;
  padding: 0 18rem;
  margin-bottom: 2rem;
}
.row-newsletter__fields {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 50%;
  margin: 0 auto;
}
.row-newsletter__field-wrapper {
  flex-basis: 70%;
}
.row-newsletter__field-wrapper label {
  display: none;
}
.row-newsletter__field-wrapper #courriel {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #18195e;
}
.row-newsletter__field-wrapper #courriel:focus {
  border: 2px solid #14aeb1;
}
.row-newsletter__submit {
  flex-basis: 30%;
}

.row-cta__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.row-cta__text {
  font-size: 2rem;
  font-family: "Playfair", serif;
}

.row-mission {
  background-color: #14aeb1;
  color: #ffffff;
}
.row-mission h2 {
  font-size: 3rem;
  text-align: center;
}
.row-mission__wrapper {
  display: flex;
  gap: 2rem;
}
.row-mission__item {
  padding: 2rem;
  border: 2px solid #ffffff;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
}
.row-mission__image {
  width: 80px;
  margin: 0 auto 1rem auto;
}/*# sourceMappingURL=style.css.map */