/* @import url("https://fonts.googleapis.com/css2?family=Playfair:wght@500&family=Poppins&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto+Condensed:wght@700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Raleway:wght@400;500&display=swap");

/* Variables */

$green: #a1d18a;
$teal: #14aeb1;
$navy: #18195e;
$black: #141414;
$white: #ffffff;

$font-text: "Raleway", sans-serif;
$font-heading: "Fira Sans Extra Condensed", sans-serif;

$small-space: 2rem;
$medium-space: 4rem;
$large-space: 6rem;

$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.6rem;
$font-size-p: 1rem;
$font-size-p-smaller: 0.85rem;

$shadow-img: 0px 0px 15px rgba(0, 0, 0, 0.15);
$shadow-btn: 0px 0px 15px rgba(0, 0, 0, 0.3);

/* Général */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

section {
	padding: $large-space 0;
}

p,
a,
label,
input {
	font-family: $font-text;
	font-size: $font-size-p;
	margin: 0;
}

h1 {
	font-size: $font-size-h1;
	font-family: $font-heading;
	margin-top: 0;
	margin-bottom: $small-space;
}

h2 {
	font-size: $font-size-h2;
	font-family: $font-heading;
	margin-top: 0;
	margin-bottom: $small-space;
}

h3 {
	font-size: $font-size-h3;
	font-family: $font-heading;
	margin-top: 0;
	margin-bottom: calc($small-space/2);
}

img {
	width: 100%;
}

.button {
	border: none;
	box-shadow: $shadow-btn;
	transition: all 0.2s;
	padding: 0.8rem 1.5rem;
	text-decoration: none;
	font-weight: 500;

	&--navy {
		background-color: $navy;
		color: $white;

		&:hover {
			background-color: lighten($navy, 10%);
			transition: all 0.2s;
		}
	}

	&--white {
		background-color: $white;
		color: $navy;

		&:hover {
			background-color: $navy;
			color: $white;
			transition: all 0.2s;
		}
	}
}

button {
	width: fit-content;
	font-size: $font-size-p;
	font-family: $font-text;
}

/* Header */

.navbar {
	background-color: $teal;
	padding: $small-space 0;

	.container {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		width: 250px;
	}

	&__list-item {
		display: inline-block;
		margin-left: 2rem;

		a {
			display: inline-block;
			text-decoration: none;
			font-size: $font-size-p * 1.3;
			color: $white;
			font-family: $font-heading;
			transition: all 0.2s;

			&:hover {
				color: $navy;
				transition: all 0.2s;
			}
		}
	}
}

/* Rangée Carrousel */

.row-carousel {
	background-color: $white;
	background-image: url(../images/fond-arches.png);

	h1 {
		display: none;
	}

	&__image {
		width: 70%;
		margin: 0 auto;

		img {
			box-shadow: $shadow-img;
		}
	}
}

/* Rangée Infolettre */

.row-newsletter {
	background-color: $green;

	.container {
		display: flex;
		justify-content: center;
		text-align: center;
	}

	&__text {
		font-size: $font-size-h3;
		padding: 0 $large-space * 3;
		margin-bottom: $small-space;
	}

	&__fields {
		display: flex;
		justify-content: center;
		gap: 2rem;
		width: 50%;
		margin: 0 auto;
	}

	&__field-wrapper {
		flex-basis: 70%;

		label {
			display: none;
		}

		input {
			width: 100%;
			padding: $small-space/4;
			border: 2px solid $navy;

			&:focus {
				border: 2px solid $teal;
			}
		}
	}
}

/* Rangée CTA */

.row-cta {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	&__text {
		font-size: $font-size-h2;
		font-family: $font-heading;
	}
}

.row-mission {
	background-color: $teal;
	color: $white;

	h2 {
		font-size: $font-size-h1;
		text-align: center;
	}

	&__text {
		padding: 0 $large-space * 3;
		text-align: center;
		margin-bottom: $medium-space;
	}

	&__wrapper {
		display: flex;
		gap: 2rem;
	}

	&__item {
		padding: $small-space;
		border: 2px solid $white;
		width: 100%;
		text-align: center;
		box-shadow: $shadow-img;
	}

	&__image {
		width: 80px;
		margin: 0 auto $small-space/2 auto;
	}
}

/* Rangée Grille photos */

.row-gallery {
	.container {
		display: grid;
		grid-gap: $small-space/2;
	}
}

#img-1 {
	grid-column: 1 / span 3;
	grid-row: 5 / span 6;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	box-shadow: $shadow-img;
}

#img-2 {
	grid-column: 4 / span 6;
	grid-row: 1 / span 7;
	aspect-ratio: 3 / 2;
	object-fit: cover;
	box-shadow: $shadow-img;
}

#img-3 {
	grid-column: 4 / span 2;
	grid-row: 8 / span 4;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	box-shadow: $shadow-img;
}

#img-4 {
	grid-column: 10 / span 2;
	grid-row: 4 / span 4;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	box-shadow: $shadow-img;
}

#img-5 {
	grid-column: 6 / span 6;
	grid-row: 8 / span 7;
	aspect-ratio: 3 / 2;
	object-fit: cover;
	box-shadow: $shadow-img;
}

#img-6 {
	grid-column: 12 / span 2;
	grid-row: 6 / span 6;
	aspect-ratio: 2 / 3;
	object-fit: cover;
	box-shadow: $shadow-img;
}

/* Rangée Statistiques */

.row-statistics {
	background-color: $green;

	h2 {
		margin-bottom: 0;
		color: $navy;
	}

	.container {
		display: flex;
		align-items: center;
		gap: $medium-space;
	}

	&__image {
		box-shadow: $shadow-img;
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: $small-space;
	}

	&__results {
		display: flex;
		gap: $small-space;
	}

	&__number {
		font-size: $font-size-h1;
		font-family: $font-heading;
		color: $navy;
	}

	&__caption {
		font-size: $font-size-p-smaller;
	}
}

.row-cards {
	h2 {
		text-align: center;
	}

	h3 {
		margin-bottom: 0;
		color: $white;
	}

	&__intro-text {
		padding: 0 $large-space * 3;
		text-align: center;
		margin-bottom: $medium-space;
	}

	&__wrapper {
		display: flex;
		gap: $small-space;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: $small-space;
		padding: $small-space;
		background-color: $teal;
		width: 100%;
		box-shadow: $shadow-img;
	}

	&__image {
		border: 3px solid $white;
	}

	&__animal-info {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: $small-space/1.5;
	}
}

/* Rangée Formulaire */

.row-form {
	position: relative;

	&__map-container {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}

	&__box {
		position: relative;
		z-index: 1;
		background-color: $green;
		width: 50%;
		margin-left: 50%;
		padding: $small-space;

		p {
			margin-bottom: 2rem;
		}
	}

	&__fields-wrapper {
		display: flex;
		flex-direction: column;
		gap: $small-space/2;
	}

	&__two-fields-wrapper {
		display: flex;
		gap: 1rem;

		.row-form__input-label-wrapper {
			width: 50%;
		}
	}

	&__input-label-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.row-form__label {
		font-size: $font-size-p-smaller;

		span {
			color: red;
			font-size: $font-size-p * 1.2;
		}
	}

	input,
	textarea,
	select {
		width: 100%;
		padding: $small-space/4;
		border: 2px solid $navy;

		&:focus {
			border: 2px solid $teal;
		}
	}

	select,
	textarea {
		font-family: $font-text;
		font-size: $font-size-p;
	}
}
