%flex {
	@include flexProperties(null, null, null, null, $small-space);
}

%border-card {
	@include border($color: $white);
}

/* Cards - Éléments de mission */

.row-mission {
	background-color: $teal;
	color: $white;

	h2 {
		font-size: $font-size-h1;
		text-align: center;
	}

	&__text {
		padding: 0 $large-space * 3;
		text-align: center;
		margin-bottom: $medium-space;
	}

	&__wrapper {
		@extend %flex;
	}

	&__item {
		@extend %border-card;
		padding: $small-space;
		width: 100%;
		text-align: center;
		box-shadow: $shadow-img;
	}

	&__image {
		width: 80px;
		margin: 0 auto calc($small-space/2) auto;
	}
}

/* Cards - Derniers pensionnaires */

.row-cards {
	h2 {
		text-align: center;
	}

	h3 {
		margin-bottom: 0;
		color: $white;
	}

	&__intro-text {
		padding: 0 $large-space * 3;
		text-align: center;
		margin-bottom: $medium-space;
	}

	&__wrapper {
		@extend %flex;
	}

	&__item {
		@include flexProperties(column, null, null, null, $small-space);
		padding: $small-space;
		background-color: $teal;
		width: 100%;
		box-shadow: $shadow-img;
	}

	&__image {
		@extend %border-card;
	}

	&__animal-info {
		@include flexProperties(
			column,
			null,
			flex-start,
			null,
			calc($small-space/1.5)
		);
	}
}
