.row-newsletter {
	background-color: $green;

	.container {
		@include flexProperties(null, center, center, null, null);
	}

	&__text {
		font-size: $font-size-h3;
		padding: 0 $large-space * 3;
		margin-bottom: $small-space;
		text-align: center;
	}

	&__fields {
		@include flexProperties(null, center, baseline, null, calc($small-space/2));
		width: 50%;
		margin: 0 auto;
	}

	&__field-wrapper {
		flex-basis: 70%;

		label {
			display: none;
		}

		input {
			width: 100%;
			padding: 0.8rem calc($small-space/2);
			@include border($width: 2px, $color: $navy);

			&:focus {
				@include border($width: 2px, $color: $teal);
			}
		}
	}
}
