.row-statistics {
	background-color: $green;

	h2 {
		margin-bottom: 0;
		color: $navy;
	}

	.container {
		@include flexProperties(null, null, center, null, $medium-space);
	}

	&__image {
		box-shadow: $shadow-img;
	}

	&__column {
		@include flexProperties(column, null, flex-start, null, $small-space);
	}

	&__results {
		@include flexProperties(null, null, null, null, $small-space);
	}

	&__number {
		font-size: $font-size-h1;
		font-family: $font-heading;
		color: $navy;
	}

	&__caption {
		font-size: $font-size-p-smaller;
	}
}
